In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [4]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [5]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
df['Outcome'].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [8]:
X = df.drop('Outcome',axis=1)
y = df['Outcome']

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, stratify=y, random_state=42)

In [18]:
X_train.shape

(576, 8)

In [19]:
X_test.shape

(192, 8)

In [20]:
X_scaled.shape

(768, 8)

In [21]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

scores = cross_val_score(DecisionTreeClassifier(),X_scaled,y,cv=5)
scores

array([0.7012987 , 0.66233766, 0.68831169, 0.79738562, 0.7124183 ])

In [22]:
scores.mean()

np.float64(0.7123503947033359)

In [26]:
from sklearn.ensemble import BaggingClassifier
bc = BaggingClassifier(
    estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=42
)
bc.fit(X_train, y_train)
bc.oob_score_

0.7534722222222222

In [28]:
bc.score(X_test, y_test)

0.7552083333333334

In [ ]:
bc = BaggingClassifier(
    estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=42
)
scores = cross_val_score(bc, X_scaled,y,cv=5)
scores.mean()

np.float64(0.7683133859604447)

In [30]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
scores = cross_val_score(rf, X_scaled, y, cv=5)
scores.mean()

np.float64(0.7565911212970037)

In [31]:
import pandas as pd

data = pd.read_csv('heart.csv')
data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [34]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for col in data.select_dtypes(include='object').columns:
    data[col] = le.fit_transform(data[col])

data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0

In [35]:
from sklearn.ensemble import IsolationForest
iso = IsolationForest(contamination=0.05,random_state=42)
data['anomaly'] = iso.fit_predict(data)

In [38]:
data['anomaly'].value_counts()

anomaly
 1    872
-1     46
Name: count, dtype: int64

In [39]:
data1 = data[data['anomaly']==1]
data1.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,anomaly
0,40,1,1,140,289,0,1,172,0,0.0,2,0,1
1,49,0,2,160,180,0,1,156,0,1.0,1,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0,1
3,48,0,0,138,214,0,1,108,1,1.5,1,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0,1

In [43]:
X = data1.drop(['HeartDisease','anomaly'],axis=1)
y = data1['HeartDisease']

In [45]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.4295071 ,  0.49390002,  0.26296436, ..., -0.83061572,
        -0.82923531,  1.05327657],
       [-0.46070125, -2.02470126,  1.33448267, ..., -0.83061572,
         0.15805741, -0.69616566],
       [-1.75244238,  0.49390002,  0.26296436, ..., -0.83061572,
        -0.82923531,  1.05327657],
       ...,
       [ 0.4004595 ,  0.49390002, -0.80855396, ...,  1.20392616,
         0.35551596, -0.69616566],
       [ 0.4004595 , -2.02470126,  0.26296436, ..., -0.83061572,
        -0.82923531, -0.69616566],
       [-1.64479729,  0.49390002,  1.33448267, ..., -0.83061572,
        -0.82923531,  1.05327657]])

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size = 0.2, random_state=42)

In [49]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
sv = SVC()

scores = cross_val_score(sv, X_scaled, y, cv=5)
scores.mean()

np.float64(0.8462660098522168)

In [50]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
sv = SVC()
sv.fit(X_train, y_train)
sv.score(X_test, y_test)

0.8685714285714285

In [51]:
from sklearn.ensemble import BaggingClassifier
bc = BaggingClassifier(
    estimator=SVC(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=42
)
scores = cross_val_score(bc,X_scaled,y,cv=5)
scores.mean()

np.float64(0.8462725779967158)

In [52]:
from sklearn.tree import DecisionTreeClassifier
scores = cross_val_score(DecisionTreeClassifier(),X_scaled, y, cv=5)
scores.mean()

np.float64(0.7728866995073892)

In [53]:
from sklearn.ensemble import BaggingClassifier
bc = BaggingClassifier(
    estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=0.9,
    oob_score=True,
    random_state=100
)

scores = cross_val_score(bc,X_scaled, y, cv=5)
scores.mean()

np.float64(0.8393694581280787)

In [54]:
from sklearn.ensemble import RandomForestClassifier

scores = cross_val_score(RandomForestClassifier(), X, y, cv=5)
scores.mean()

np.float64(0.8405320197044335)